:root {
	--txt-color: #fff;
	--txt-color-bis: #fff;
	--main-bck-color: #252525;
	--block-bck-color: #151515;
    --block-bck-color-hover: #101010;
    --color-blue: #1da1f2;
	--color-blue-hover: #0652DD;
}
