:root {
    --txt-color: #fff;
    --txt-color-bis: #000;
	--main-bck-color: #252525;
	--block-bck-color: #151515;
    --block-bck-color-hover: #101010;
    --color-blue: #00FFFF;
    --color-blue-hover: #0984e3;
}
